[Unit]
Description=Maro Master Agent
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory={maro_shared_path}/lib/grass
ExecStart=/usr/bin/python3 -m services.master_agent.agent

[Install]
WantedBy=default.target
