env:
  scenario: "cim"
  topology: "toy.4p_ssdd_l0.0"
  durations: 1120
  state_shaping:
    look_back: 7
    max_ports_downstream: 2
  experience_shaping:
    time_window: 100
    fulfillment_factor: 1.0
    shortage_factor: 1.0
    time_decay_factor: 0.97
main_loop:
  max_episode: 500
  exploration:
    parameter_names:
      - "epsilon"
    split_ep: 250
    start_values: 0.4
    mid_values: 0.32
    end_values: 0.0
agents:
  algorithm:
    num_actions: 21
    model:
      hidden_dims:
        - 256
        - 128
        - 64
      softmax_enabled: false
      batch_norm_enabled: true
      skip_connection_enabled: false
      dropout_p: 0.0
    optimizer:
      lr: 0.05
    config:
      reward_discount: .0
      target_update_frequency: 5
      tau: 0.1
      is_double: true
      per_sample_td_error_enabled: true
  experience_pool:
    capacity: -1
  training_loop_parameters:
    min_experiences_to_train: 1024
    num_batches: 10
    batch_size: 128
  seed: 32   # for reproducibility
