# Copyright (c) Microsoft Corporation.
# Licensed under the MIT license.

experiment_name: cim_dqn
mode: multi-process # local, multi-process
num_episodes: 10
# eval_schedule: 2
num_steps: 50
env:
  basic:
    scenario: cim
    topology: toy.4p_ssdd_l0.0
    durations: 560
  wrapper:
    port_attributes:
      - empty
      - full
      - on_shipper
      - on_consignee
      - booking
      - shortage
      - fulfillment
    vessel_attributes:
      - empty
      - full
      - remaining_space
    num_actions: 21
    # Parameters for computing states
    look_back: 7
    max_ports_downstream: 2
    # Parameters for computing actions
    finite_vessel_space: true
    has_early_discharge: true
    # Parameters for computing rewards
    reward_eval_delay: 99
    fulfillment_factor: 1.0
    shortage_factor: 1.0
    time_decay: 0.97
exploration:
  initial_value: 0.4
  final_value: 0.0
  splits:
    - [5, 0.32]
policies:
  model:
    network:
      hidden_dims:
        - 256
        - 128
        - 64
        - 32
      activation: leaky_relu
      softmax: false
      batch_norm: true
      skip_connection: false
      head: true
      dropout_p: 0.0
    optimization:
      optim_cls: rmsprop
      optim_params:
        lr: 0.05
  algorithm_config:
    reward_discount: .0
    target_update_freq: 5
    train_epochs: 10
    soft_update_coefficient: 0.1
    double: false
  experience_manager:
    rollout: # for experience managers in actor processes
      capacity: 1000
      overwrite_type: "rolling"
      batch_size: -1
      replace: false
    training: # for experience managers in the learner process
      capacity: 100000
      overwrite_type: "rolling"
      batch_size: 128
      alpha: 0.6
      beta: 0.4
      beta_step: 0.001
  update_trigger: 16
  warmup: 1
sync:
  rollout_mode: multi-process # single-process, multi-process, multi-node
  num_rollout_workers: 3
  # max_receive_attempts: 2
  # receive_timeout: 100  # in milli-seconds
policy_manager:
  group: cim-dqn-policy-manager
  policy_training_mode: multi-process # single-process, multi-process, multi-node
  num_trainers: 2
redis:
  host: localhost
  port: 6379