# Copyright (c) Microsoft Corporation.
# Licensed under the MIT license.

job: sc 
scenario: supply_chain
mode: sync
num_episodes: 5
eval_schedule: 5 
num_steps: -1
max_lag: 0
# If true, the roll-out experiences will be distributed amongst roll-out workers / actors
# in round-robin fashion based on agent index. Otherwise, every roll-out worker / actor will
# store the roll-out experiences for all agents whose experiences need to be stored.
rollout_experience_distribution: true
sync:
  rollout_group: rollout
  rollout_mode: multi-node # single-process, multi-process, multi-node
  num_rollout_workers: 10
  min_finished_workers: 7
  max_extra_recv_tries: 3
  extra_recv_timeout: 200
async:
  group: async
  num_actors: 3
policy_manager:
  train_group: policy-manager
  train_mode: multi-node # single-process, multi-process, multi-node
  num_trainers: 20
redis:
  host: maro-redis
  port: 6379
