# Copyright (c) Microsoft Corporation.
# Licensed under the MIT license.

job: cim
scenario: cim
mode: sync
num_episodes: 5
eval_schedule: 5
num_steps: -1
max_lag: 0
# If true, the roll-out experiences will be distributed amongst roll-out workers / actors
# in round-robin fashion based on agent index. Otherwise, every roll-out worker / actor will
# store the roll-out experiences for all agents whose experiences need to be stored.
rollout_experience_distribution: false
sync:
  rollout_group: rollout
  rollout_mode: multi-node # single-process, multi-process, multi-node
  num_rollout_workers: 3
  min_finished_workers: 2
  max_extra_recv_tries: 2
  extra_recv_timeout: 200
async:
  group: async
  num_actors: 3
policy_manager:
  type: distributed # simple, distributed
  simple:
    parallel: false
  distributed:
    learn_group: learn
    num_hosts: 2
    allocation_mode: by-policy # by-policy, by-agent, by-experience
redis:
  host: maro-redis
  port: 6379
