altair>=4.1.0
aria2p>=0.9.0
coverage>=6.4.1
cryptography>=36.0.1
Cython>=0.29.14
deepdiff>=5.7.0
docker
Flask>=1.1.2
flask_cors>=3.0.10
flask_socketio>=5.2.0
geopy>=2.0.0
holidays>=0.10.0
Jinja2>=2.11.0
kubernetes>=21.7.0
numpy<1.20.0
pandas>=0.25.0
paramiko>=2.9.2
pre-commit>=2.19.0
prompt_toolkit>=2.0.10
psutil>=5.8.0
ptvsd>=4.3.2
PyJWT>=2.4.0
pytest>=7.1.2
python_dateutil>=2.8.1
PyYAML>=5.4.1
pyzmq>=19.0.2
requests>=2.25.1
scipy>=1.7.0
streamlit>=0.69.1
stringcase>=1.2.0
tabulate>=0.8.5
torch==1.6.0
tornado>=6.1
tqdm>=4.51.0
