*.pyc
*.so
*.pyd
*.log
*.csv
*.parquet
*.c
*.cpp
*.DS_Store
.pytest_cache/
.idea/
.vscode/
.vs/
build/
log/
logs/
checkpoint/
checkpoints/
streamit/
dist/
*.egg-info/
tools/schedule
docs/_build
.eggs/
maro_venv/
pyvenv.cfg
htmlcov/
.coverage
.coveragerc
.tmp/
