*.pyc
*.so
*.pyd
*.log
*.csv
*.c
*.cpp
*.DS_Store
.pytest_cache/
.idea/
.vscode/
.vs/
build/
log/
dist/
*.egg-info/
tools/schedule
docs/_build
test/
data/
.eggs/
maro_venv/
pyvenv.cfg
htmlcov/
*supply_chain_*/
examples/supply_chain/docker-compose.yml
examples/rl/config.yml
.coverage
.coveragerc
