
prune maro/simulator/scenarios/sample
prune tests
prune examples
prune samples

include maro/backends/*.pxd
include maro/simulator/scenarios/ecr/topologies/*/*.yml
include maro/simulator/scenarios/citi_bike/topologies/*/*.yml
