prune tests
prune examples

include maro/simulator/scenarios/cim/topologies/*/*.yml
include maro/simulator/scenarios/citi_bike/topologies/*/*.yml

include maro/simulator/scenarios/cim/meta/*.toml
include maro/simulator/scenarios/citi_bike/meta/*.toml
