prune tests
prune examples

include maro/simulator/scenarios/cim/topologies/*/*.yml
include maro/simulator/scenarios/citi_bike/topologies/*/*.yml
include maro/simulator/scenarios/vm_scheduling/topologies/*/*.yml
include maro/cli/project_generator/templates/*.jinja