Cython==0.29.14
astroid==2.3.3
azure-mgmt-authorization
azure-mgmt-containerservice
azure-mgmt-resource
azure-mgmt-storage
azure-storage-file-share
azure-identity
certifi==2019.9.11
cycler==0.10.0
docker
flask==1.1.2
flask-cors==3.0.10
guppy3==3.0.9
isort==4.3.21
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
pyaml==20.4.0
pyparsing==2.4.5
python-dateutil==2.8.1
PyYAML==5.4.1
pyzmq==19.0.2
six==1.13.0
torch==1.6.0
torchsummary==1.5.1
wrapt==1.11.2
zmq==0.0.0
numpy<1.20.0
scipy==1.7.0
tabulate==0.8.5
markupsafe==2.0.1
networkx==2.4
palettable==3.3.0
urllib3==1.26.5
geopy==2.0.0
pandas==0.25.3
redis==3.5.3
requests==2.25.1
holidays==0.10.3
sphinx==1.8.6
recommonmark~=0.6.0
sphinx_rtd_theme==1.0.0
jinja2==2.11.3
flake8==4.0.1
PuLP==2.1
streamlit==0.69.1
altair==4.1.0
tqdm==4.51.0
editorconfig-checker==2.4.0
aria2p==0.9.1
prompt_toolkit==2.0.10
stringcase==1.2.0
networkx==2.4
