Cython==0.29.14
astroid==2.3.3
certifi==2019.9.11
cycler==0.10.0
guppy3==3.0.9
isort==4.3.21
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
pyaml==20.4.0
pyparsing==2.4.5
python-dateutil==2.8.1
PyYAML==5.3.1
pyzmq==19.0.2
six==1.13.0
torch==1.6.0
torchsummary==1.5.1
wrapt==1.11.2
zmq==0.0.0
numpy==1.19.1
tabulate==0.8.5
networkx==2.4
palettable==3.3.0
urllib3==1.25.8
geopy==2.0.0
pandas==0.25.3
redis==3.5.3
holidays==0.10.3
sphinx
recommonmark
sphinx_rtd_theme
jinja2
flake8
editorconfig-checker
