altair>=4.1.0
aria2p>=0.11.2
autopep8>=1.4.4
azure-identity
azure-mgmt-authorization
azure-mgmt-containerservice
azure-mgmt-resource
azure-mgmt-storage
azure-storage-file-share
azure_storage>=0.37.0
coverage>=6.4.1
cryptography>=36.0.1
deepdiff>=5.7.0
docker
Flask>=2.1.2
flask_cors>=3.0.10
flask_socketio>=5.2.0
geopy>=2.2.0
holidays>=0.12
ipython-genutils>=0.2.0
ipython>=7.16.3
Jinja2>=3.0.3
kubernetes>=21.7.0
numba>=0.46.0
numpy<1.20.0
pandas>=0.25.0
paramiko>=2.9.2
pre-commit>=2.19.0
prompt_toolkit>=3.0.24
psutil>=5.8.0
ptvsd>=4.3.2
PyJWT>=2.4.0
pytest>=7.1.2
python_dateutil>=2.8.2
recommonmark>=0.6.0
requests>=2.26.0
scipy>=1.7.0
setuptools>=58.0.4
streamlit>=0.69.1
stringcase>=1.2.0
tabulate>=0.8.9
termgraph>=0.5.3
tqdm>=4.51.0
