version: '3.6'

services:

  vis_app:
    container_name: vis_app
    restart: always
    build: ./back_end/vis_app
    ports:
      - "5000:5000"
    image: maro_vis_back_end_service
    command: gunicorn -w 1 -b 0.0.0.0:5000 app:app_backend


  # nginx:
  #   container_name: nginx
  #   restart: always
  #   build: ./back_end/nginx
  #   ports:
  #     - "6503:6503"
  #   image: maro_vis_back_end_server
  #   depends_on:
  #     - vis_app

  # maro_vis_front_end:
  #   build: ./front_end
  #   ports:
  #     - "${FRONT_END_PORT}:${FRONT_END_PORT}"
  #   image: maro_vis_front_end
  #   container_name: maro_vis_front_end

  # database:
  #   image: "questdb/questdb"
  #   container_name: "maro_vis_questdb"
  #   ports:
  #     - "9000:9000" # REST API, web console
  #     - "8812:8812" # Postgres
  #     - "9009:9009" # influxdb line protocol
  #   volumes:
  #     - ../../streamit/server/data:/root/.questdb/db
  #   # override configuration via environemnt variables
  #   # https://questdb.io/docs/reference/configuration#environment-variables
  #   environment:
  #     QDB_TELEMETRY_ENABLED: "false" # disable telemetry collecting
  #     QDB_HTTP_WORKER_COUNT: 4 # 4 private worker thread
  #   #   QDB_HTTP_SECURITY_READONLY: "true" # disable writing interface for web console
  #   #   QDB_PG_USER : admin
  #   #   QDB_PG_PASSWORD : quest
  # fileserver:
  #   image: "nginx:1.19.6-alpine"
  #   ports:
  #     - "9103:9103"
  #   volumes:
  #     - ../../streamit/server/nginx.conf:/etc/nginx/nginx.conf:ro
  # # enable web server
  # # web:
  # #   build: .
  # #   ports:
  # #     - "9988:9988"
  # #   volumes:
  # #     - ./web:/maro_vis
