[Unit]
Description=Maro Master API Server
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory={maro_shared_path}/lib/grass
ExecStart={home_path}/.local/bin/gunicorn --workers=4 --bind 0.0.0.0:{master_api_server_port} services.master_api_server.root:app

[Install]
WantedBy=default.target
