<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">General</h5>
    <div class="gf-form">
      <span class="gf-form-label width-8">x_axis</span>
      <div class="gf-form-select-wrapper max-width-10">
        <select class="gf-form-input" ng-model="ctrl.panel.x_axis" ng-options="t for t in ctrl.panel.xColumns"
          ng-change="ctrl.render()"></select>
      </div>
    </div>
    <div class="gf-form">
      <span class="gf-form-label width-8">ignore columns</span>
      <div class="gf-form-select-wrapper max-width-10">
        <select class="gf-form-input" ng-model="ctrl.panel.ignoreColumn"
          ng-options="t for t in ctrl.panel.ignoreColumns" ng-change="ctrl.render()" multiple></select>
      </div>
    </div>

    <div class="gf-form">
      <span class="gf-form-label width-8">aggregation</span>
      <div class="gf-form-select-wrapper max-width-10">
        <select class="gf-form-input" ng-model="ctrl.panel.aggregation"
          ng-options="t for t in ctrl.panel.aggregationOptions" ng-change="ctrl.render()" ></select>
      </div>
    </div>

    <div class="section gf-form-group">
      <h5 class="section-heading">Legend</h5>
      <gf-form-switch class="gf-form" label="Show Legend" label-class="width-11" checked="ctrl.panel.legend.show"
        on-change="ctrl.refresh()"></gf-form-switch>
      <div class="gf-form">
        <span class="gf-form-label width-11">Position</span>
        <div class="gf-form-select-wrapper width-9">
          <select class="gf-form-input" ng-model="ctrl.panel.legendType"
            ng-options="t for t in ['On graph', 'Under graph', 'Right side']"
            ng-change="ctrl.onLegendTypeChanged()"></select>
        </div>
      </div>
      <div ng-if="ctrl.panel.legendType == 'Right side'" class="gf-form">
        <label class="gf-form-label width-11">Width</label>
        <input type="number" class="gf-form-input max-width-5" placeholder="150"
          bs-tooltip="'Set a min-width for the legend side table/block'" data-placement="right"
          ng-model="ctrl.panel.legend.sideWidth" ng-change="ctrl.render()" ng-model-onblur>
      </div>
      <div ng-if="ctrl.panel.legendType == 'Under graph'" class="gf-form">
        <span class="gf-form-label width-11">Legend Breakpoint</span>
        <div class="gf-form-select-wrapper width-9">
          <select class="gf-form-input" ng-model="ctrl.panel.breakPoint"
            ng-options="t for t in ['10%', '20%', '25%', '50%', '75%', '100%']" ng-change="ctrl.render()"></select>
        </div>
      </div>
      <div class="gf-form" ng-if="ctrl.panel.legendType === 'On graph'">
        <span class="gf-form-label width-11">Font size</span>
        <div class="gf-form-select-wrapper width-9">
          <select class="gf-form-input" ng-model="ctrl.panel.fontSize"
            ng-options="s for s in ['50%', '60%', '70%', '80%', '100%', '110%', '120%', '150%', '175%']"
            ng-change="ctrl.render()"></select>
        </div>
      </div>

    </div>

  </div>