altair>=4.1.0
azure-storage-blob<12.9.0
azure-storage-common
coverage>=6.4.1
deepdiff>=5.7.0
geopy>=2.0.0
holidays>=0.10.3
kubernetes>=21.7.0
numpy>=1.19.5
pandas>=0.25.3
paramiko>=2.9.2
pytest>=7.1.2
PyYAML>=5.4.1
pyzmq>=19.0.2
redis>=3.5.3
streamlit>=0.69.1
termgraph>=0.5.3
