<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>MARO Admin Web UI</title>
  <link rel="stylesheet" href="assets/css/xterm.css" />
  <link rel="shortcut icon" href="assets/images/favicon.ico" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.1/lib/theme-chalk/index.css">
</head>

<body>
  <style>
    .mydashboard {
      width: 100%;
      height: calc(100vh - 60px - 340px - 20px);
      border-width: 0px;
    }

    .el-header {
      color: #333;
      line-height: 60px;
    }

    .el-main {
      padding: 0px 20px;
    }

    body {
      background: #eee;
    }
  </style>

  <el-container id="app">
    <el-header>
      <el-row>
        <el-col :span="4">
          MARO Admin Web UI
        </el-col>
        <el-col :span="20" style="text-align: right; font-size: 12px">
          <el-link type="primary" href="https://www.github.com/microsoft/maro" target="blank">
            Multi-Agent Resource Optimization
          </el-link>
          <el-link type="primary" href="https://maro.readthedocs.io/en/latest/" target="blank">
            Documentation
          </el-link>
        </el-col>
      </el-row>
    </el-header>
    <el-main>
      <!-- <div>
        <iframe class="mydashboard" src="./dashboard"></iframe>
      </div> -->

      <el-container class="mydashboard">
        <el-main style="width: max-content;">
          <div v-for="item in cluster_list" :key="item" style="width: max-content;">
            <el-button type="primary" plain v-on:click="show_cluster(item)">{{ item }}</el-button>
          </div>
        </el-main>
        <el-main>
          <el-container v-if="connected">
            <el-header>
              static resource
            </el-header>
            <el-main>
              <el-container>
                <el-main>CPU:{{resource_static["cpu"]}}</el-main>
                <el-main>memory:{{resource_static["memory"]}}</el-main>
                <el-main>GPU:{{resource_static["gpu"]}}</el-main>
              </el-container>
            </el-main>
          </el-container>
        </el-main>
        <el-main></el-main>
      </el-container>

    </el-main>
    <el-footer style="height:340px;">
      <div id="terminal"></div>
    </el-footer>
  </el-container>

  <script src="assets/js/jquery.3.5.1.min.js"></script>
  <!-- Notes: Please keep all xterm.js related package version to 3.6.0 or will be connect failed.-->
  <script src="https://unpkg.com/xterm@3.6.0/dist/xterm.js"></script>
  <script src="https://unpkg.com/xterm@3.6.0/dist/addons/fit/fit.js"></script>
  <script src="https://unpkg.com/xterm@3.6.0/dist/addons/webLinks/webLinks.js"></script>
  <script src="https://unpkg.com/xterm@3.6.0/dist/addons/fullscreen/fullscreen.js"></script>
  <script src="https://unpkg.com/xterm@3.6.0/dist/addons/search/search.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
  <script src="https://unpkg.com/element-ui@2.15.1/lib/index.js"></script>
  <script>
    $(document).ready(function () {
      let connected = false

      const vm = new Vue({
        el: '#app',
        data: function () {
          return {
            cluster_list: new Array(),
            cluster_name: undefined,
            dashboard_type: "",
            connected: false,
            resource_static: {
              "cpu": NaN,
              "memory": NaN,
              "gpu": NaN
            },
            resource_dynamic: {
              "cpu": new Array(),
              "memory": new Array(),
              "gpu": new Array()
            },
            job_running: new Array(),
            job_pending: new Array(),
            job_killed: new Array(),
            job_finish: new Array(),
            job_failed: new Array(),
          }
        },
        methods: {
          show_cluster: function (message) {
            socket.emit('cluster_status', { cluster_name: message })
          }
        }
      })
      setInterval(() => {
        if (connected) {
          socket.emit("cluster_list")
        }
      }, 1000)
      // Load terminal addons.
      Terminal.applyAddon(fullscreen)
      Terminal.applyAddon(fit)
      Terminal.applyAddon(webLinks)
      Terminal.applyAddon(search)

      // Create xterms.js terminal.
      const waitMS = 50
      const term = new Terminal({
        cols: 1,
        rows: 20,
        cursorBlink: true,
        macOptionIsMeta: true,
        scrollback: true
      })



      term.open(document.getElementById('terminal'))
      term.fit()

      term.on('key', (key, ev) => {
        socket.emit('pty-input', { input: key })
      })
      term.on('paste', function (text) {
        socket.emit('pty-input', { input: text })
      })

      term.prompt = (content) => {
        socket.emit('pty-input', { input: content })
      }

      // Create socket.io connection.
      const socket = io.connect('/pty')

      socket.on('pty-output', function (data) {
        console.log('new output', data)
        term.write(data.output)
      })

      socket.on('connect', () => {
        console.log('socket.io connected.')
        connected = true
      })

      socket.on('disconnect', () => {
        console.log('socket.io disconnected.')
        connected = false
      })

      socket.on("cluster_list", (data) => {
        // console.log(data)
        vm.cluster_list = data
      })

      socket.on("cluster_status", (data) => {
        console.log(data)
        if (data != undefined) {
          vm.connected = true
          vm.cluster_name = data["cluster_name"]
          vm.dashboard_type = data["dashboard_type"]
          vm.resource_static = data["resource_static"]
          vm.resource_dynamic = data["resource_dynamic"]
          job_running = new Array()
          job_pending = new Array()
          job_killed = new Array()
          job_finish = new Array()
          job_failed = new Array()
          data["job_detail_data"].forEach(job_detail => {
            switch (job_detail["status"]) {
              case "running": job_running.push(job_detail); break;
              case "pending": job_pending.push(job_detail); break;
              case "killed": job_killed.push(job_detail); break;
              case "finish": job_finish.push(job_detail); break;
              case "failed": job_failed.push(job_detail); break;
              default: break;
            }
          });
          vm.job_running = job_running
          vm.job_pending = job_pending
          vm.job_killed = job_killed
          vm.job_finish = job_finish
          vm.job_failed = job_failed
        }
        else {
          console.log("Can not get cluster status form server. Maybe cluster name issue or cluster shut down")
          vm.connected = false
        }
      })

      function fitToScreen() {
        term.fit()
        socket.emit('resize', { cols: term.cols, rows: term.rows })
      }

      function terminalResize(func, waitMS) {
        let timeout
        return function (...args) {
          const context = this
          clearTimeout(timeout)
          timeout = setTimeout(() => func.apply(context, args), waitMS)
        }
      }

      window.onresize = terminalResize(fitToScreen, waitMS)
      term.write('Welcome to MARO.\r\n')
      term.write('Repository: https://github.com/microsoft/maro\r\n')
      term.write('Documentation: https://maro.readthedocs.io/en/latest/\r\n')
      term.prompt('\n')
    })
  </script>
</body>

</html>