[Unit]
Description=Maro Master Agent
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory={home_path}/.maro/lib/grass
ExecStart=/usr/bin/python3 -m agents.master_agent

[Install]
WantedBy=default.target
