jupyter==1.0.0
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyterlab
jupyterlab-server
jupyterthemes
isort==4.3.21
autopep8==1.4.4
isort==4.3.21
pandas==0.25.3
matplotlib==3.1.2
seaborn==0.9.0
ipython==7.16.3
ipython-genutils==0.2.0
shap==0.32.1
seaborn==0.9.0
numpy<1.20.0
numba==0.46.0
