jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==1.2.3
jupyterlab-server==1.0.6
jupyterthemes==0.20.0
isort==4.3.21
autopep8==1.4.4
isort==4.3.21
pandas==0.25.3
matplotlib==3.1.2
seaborn==0.9.0
ipython==7.10.1
ipython-genutils==0.2.0
shap==0.32.1
seaborn==0.9.0
numpy==1.17.4
numba==0.46.0