# Copyright (c) Microsoft Corporation.
# Licensed under the MIT license.

job: cim_v2
scenario_dir: "/maro/examples/cim"
load_policy_dir: "/maro/examples/checkpoints/cim_v2"
checkpoint_dir: "/maro/examples/checkpoints/cim_v2"
log_dir: "/maro/examples/logs"
mode: sync  # single, sync, async
num_episodes: 5
eval_schedule: 5
sync:
  num_rollouts: 3
  num_eval_rollouts: 1
  rollout_type: distributed   # multi-process, distributed
  distributed:
    min_finished_workers: 2
    max_extra_recv_tries: 1
    extra_recv_timeout: 200
async:
  max_lag: 3
  num_rollouts: 3
policy_manager:
  type: distributed   # simple, multi-process, distributed
  distributed:
    num_hosts: 2
data_parallelism: 1
redis:
  host: maro
  port: 6379
