# Copyright (c) Microsoft Corporation.
# Licensed under the MIT license.

job: cim
aks:
  image: marorl.azurecr.cn/marorl
  storage_account: maro
  file_share: rltest
scenario_dir: /maro/examples
scenario: cim
load_policy_dir: "/maro/examples/checkpoints/cim"
checkpoint_dir: "/maro/examples/checkpoints/cim"
log_dir: "/maro/examples//logs/cim"
mode: sync  # single, sync, async
num_episodes: 2
eval_schedule: 2
sync:
  num_rollouts: 3
  num_eval_rollouts: 1
  rollout_type: distributed   # multi-process, distributed
  distributed:
    min_finished_workers: 2
    max_extra_recv_tries: 1
    extra_recv_timeout: 200
async:
  max_lag: 3
  num_rollouts: 3
policy_manager:
  type: distributed   # simple, multi-process, distributed
  distributed:
    num_hosts: 2
redis:
  host: maro
  port: 6379