container_usage_proportion:
  period: 112
  sample_nodes:
  - - 0
    - 0.018000000000000002
  - - 1
    - 0.018004818392443108
  - - 2
    - 0.018017797446387897
  - - 3
    - 0.018034703548388292
  - - 4
    - 0.018049109976612267
  - - 5
    - 0.018053273050022068
  - - 6
    - 0.018039229487654337
  - - 7
    - 0.018000000000000002
  - - 8
    - 0.01806922970652687
  - - 9
    - 0.01817008120264686
  - - 10
    - 0.01830022912514164
  - - 11
    - 0.018453018663590726
  - - 12
    - 0.018617521009508434
  - - 13
    - 0.01877905388397004
  - - 14
    - 0.01892015118451061
  - - 15
    - 0.019021922498384965
  - - 16
    - 0.019065703522564127
  - - 17
    - 0.019034865894563758
  - - 18
    - 0.01891663262925245
  - - 19
    - 0.01870373554018116
  - - 20
    - 0.018395754968875463
  - - 21
    - 0.018000000000000002
  - - 22
    - 0.01846818190415169
  - - 23
    - 0.018985735366443674
  - - 24
    - 0.019522887883403655
  - - 25
    - 0.020044767919031134
  - - 26
    - 0.02051356428232444
  - - 27
    - 0.020891092322499877
  - - 28
    - 0.021141592653589794
  - - 29
    - 0.021234560410880225
  - - 30
    - 0.021147390070706262
  - - 31
    - 0.020867624164302427
  - - 32
    - 0.020394614078811452
  - - 33
    - 0.01974043656820391
  - - 34
    - 0.018929958358622503
  - - 35
    - 0.018000000000000002
  - - 36
    - 0.019002385293898735
  - - 37
    - 0.020022436394466422
  - - 38
    - 0.021000869332962656
  - - 39
    - 0.021877526188769803
  - - 40
    - 0.022595250830466575
  - - 41
    - 0.023103730234995137
  - - 42
    - 0.023363034122668973
  - - 43
    - 0.023346598849410063
  - - 44
    - 0.02304343334352227
  - - 45
    - 0.022459373419742835
  - - 46
    - 0.021617272837073466
  - - 47
    - 0.020556090732000726
  - - 48
    - 0.019328910556247327
  - - 49
    - 0.018000000000000002
  - - 50
    - 0.019358910775119857
  - - 51
    - 0.020672898884625514
  - - 52
    - 0.021868391985602836
  - - 53
    - 0.02287768853494527
  - - 54
    - 0.023643156906642808
  - - 55
    - 0.024120834340936995
  - - 56
    - 0.024283185307179583
  - - 57
    - 0.024120834340936995
  - - 58
    - 0.023643156906642808
  - - 59
    - 0.02287768853494527
  - - 60
    - 0.02186839198560284
  - - 61
    - 0.020672898884625514
  - - 62
    - 0.01935891077511986
  - - 63
    - 0.018000000000000002
  - - 64
    - 0.019328910556247327
  - - 65
    - 0.020556090732000723
  - - 66
    - 0.021617272837073463
  - - 67
    - 0.022459373419742835
  - - 68
    - 0.02304343334352227
  - - 69
    - 0.023346598849410063
  - - 70
    - 0.023363034122668977
  - - 71
    - 0.023103730234995137
  - - 72
    - 0.022595250830466578
  - - 73
    - 0.021877526188769803
  - - 74
    - 0.02100086933296266
  - - 75
    - 0.02002243639446643
  - - 76
    - 0.019002385293898735
  - - 77
    - 0.018000000000000002
  - - 78
    - 0.018929958358622503
  - - 79
    - 0.019740436568203908
  - - 80
    - 0.020394614078811456
  - - 81
    - 0.020867624164302427
  - - 82
    - 0.021147390070706266
  - - 83
    - 0.021234560410880225
  - - 84
    - 0.021141592653589794
  - - 85
    - 0.020891092322499877
  - - 86
    - 0.020513564282324443
  - - 87
    - 0.020044767919031134
  - - 88
    - 0.019522887883403655
  - - 89
    - 0.018985735366443678
  - - 90
    - 0.01846818190415169
  - - 91
    - 0.018000000000000002
  - - 92
    - 0.018395754968875463
  - - 93
    - 0.01870373554018116
  - - 94
    - 0.01891663262925245
  - - 95
    - 0.019034865894563754
  - - 96
    - 0.019065703522564127
  - - 97
    - 0.019021922498384965
  - - 98
    - 0.01892015118451061
  - - 99
    - 0.01877905388397004
  - - 100
    - 0.018617521009508434
  - - 101
    - 0.018453018663590726
  - - 102
    - 0.018300229125141648
  - - 103
    - 0.01817008120264686
  - - 104
    - 0.01806922970652687
  - - 105
    - 0.018000000000000002
  - - 106
    - 0.018039229487654337
  - - 107
    - 0.018053273050022068
  - - 108
    - 0.018049109976612267
  - - 109
    - 0.018034703548388292
  - - 110
    - 0.018017797446387897
  - - 111
    - 0.018004818392443108
  sample_noise: 0.001
container_volumes:
- 1
order_generate_mode: fixed
ports:
  demand_port_001:
    capacity: 100000
    empty_return:
      buffer_ticks: 1
      noise: 1
    full_return:
      buffer_ticks: 1
      noise: 1
    initial_container_proportion: 0.2
    order_distribution:
      source:
        noise: 0.03599359535144951
        proportion: 0.25
      targets:
        transfer_port_001:
          noise: 0.08049795913094565
          proportion: 1
  demand_port_002:
    capacity: 100000
    empty_return:
      buffer_ticks: 1
      noise: 1
    full_return:
      buffer_ticks: 1
      noise: 1
    initial_container_proportion: 0.2
    order_distribution:
      source:
        noise: 0.028165770016070624
        proportion: 0.25
      targets:
        transfer_port_001:
          noise: 0.06286664753177106
          proportion: 1
  supply_port_001:
    capacity: 100000
    empty_return:
      buffer_ticks: 1
      noise: 1
    full_return:
      buffer_ticks: 1
      noise: 1
    initial_container_proportion: 0.2
    order_distribution:
      source:
        noise: 0.0
        proportion: 0
  supply_port_002:
    capacity: 100000
    empty_return:
      buffer_ticks: 1
      noise: 1
    full_return:
      buffer_ticks: 1
      noise: 1
    initial_container_proportion: 0.2
    order_distribution:
      source:
        noise: 0.0
        proportion: 0
  transfer_port_001:
    capacity: 100000
    empty_return:
      buffer_ticks: 1
      noise: 1
    full_return:
      buffer_ticks: 1
      noise: 1
    initial_container_proportion: 0.2
    order_distribution:
      source:
        noise: 0.03930003216584521
        proportion: 0.5
      targets:
        supply_port_001:
          noise: 0.07702248660047659
          proportion: 0.5
        supply_port_002:
          noise: 0.011279220529908651
          proportion: 0.5
routes:
  route_001:
  - distance: 60
    port_name: transfer_port_001
  - distance: 60
    port_name: supply_port_001
  - distance: 60
    port_name: supply_port_002
  route_002:
  - distance: 60
    port_name: transfer_port_001
  - distance: 60
    port_name: demand_port_001
  - distance: 60
    port_name: demand_port_002
stop_number:
- 4
- 3
total_containers: 100000
vessels:
  rt1_vessel_001:
    capacity: 8000
    parking:
      duration: 1
      noise: 1
    route:
      initial_port_name: transfer_port_001
      route_name: route_001
    sailing:
      noise: 2
      speed: 20
  rt1_vessel_002:
    capacity: 9000
    parking:
      duration: 1
      noise: 1
    route:
      initial_port_name: supply_port_001
      route_name: route_001
    sailing:
      noise: 2
      speed: 10
  rt1_vessel_003:
    capacity: 10000
    parking:
      duration: 1
      noise: 1
    route:
      initial_port_name: supply_port_002
      route_name: route_001
    sailing:
      noise: 2
      speed: 6
  rt2_vessel_001:
    capacity: 8000
    parking:
      duration: 1
      noise: 1
    route:
      initial_port_name: transfer_port_001
      route_name: route_002
    sailing:
      noise: 1
      speed: 20
  rt2_vessel_002:
    capacity: 9000
    parking:
      duration: 1
      noise: 1
    route:
      initial_port_name: demand_port_001
      route_name: route_002
    sailing:
      noise: 1
      speed: 10
  rt2_vessel_003:
    capacity: 10000
    parking:
      duration: 1
      noise: 1
    route:
      initial_port_name: demand_port_002
      route_name: route_002
    sailing:
      noise: 2
      speed: 6
