[Unit]
Description=Maro Node Agent
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/python3 {home_path}/.maro/lib/grass/agents/node_agent.py

[Install]
WantedBy=default.target
